.footer {
    &__container {
        background-color: #5E33D1;
        display: flex;
        flex-direction: column;
        height: 300px;
    }

    &__content-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    &__header-text {
        font-size: 34px;
        margin-bottom: 15px;
        text-align: center;
    }

    &__copyright-text {
        font-size: 14px;
        letter-spacing: 2px;
    }

    &__email {
        margin-bottom: 40px;
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
    }

    &__email-img {
        margin-left: 120px;
    }

    &__email-text {
        text-align: center;
        margin-left: 10px;
    }
}
